html {
  background-image: url(greyzz.png);
  font-family: Arial, sans-serif;
  font-size: 1.6vw;
}

h1,
.point,
.points {
  color: #2a70b6;
  font-family: 'Bitter', 'Times New Roman', serif;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 3.2vw;
  font-weight: bold;
  text-align: left;
}

h2 {
  font-size: 1.6vw;
  font-weight: bold;
  text-align: left;
  margin-top: 1vw;
}

.page {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12),
              0 5px 5px -3px rgba(0, 0, 0, 0.4);
  margin: 4vw;
  padding: 5vw;
  background-color: #fff;
}

.title {
  margin-bottom: 1.8vw;
}

col {
  width: 14.285714%;
}

.form-table {
  table-layout: fixed;
  text-align: center;
  width: 100%;
}

.form-table th,
.form-table td {
  padding: .4vw .5vw;
}

.form-table label {
  border: 1px solid #ddd;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  height: 100%;
  padding: 1.5vw;
  width: 100%;
}

.form-table label.selected {
  background-color: #f4f4f4;
  outline: 3px solid #2a70b6;
}

.form-table label:hover {
  background-color: #fbfbfb;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12),
              0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.form-table .image {
  width: 100%;
  max-height: 100px;
}

.form-table .description {
  font-size: 1.3vw;
  min-height: 3.9vw;
  margin: .5vw 0;
}

.form-table .points {
  font-size: 6.4vw;
  vertical-align: middle;
}

.form-table .points::after {
  border-bottom: 2px solid #999;
  content: '';
}

.form-table input {
  display: none;
}

.form-table tfoot hr {
  margin: 1.5vw 0 1vw 0;
}

.form-table tfoot tr td {
  vertical-align: middle;
}